.form__header {
    background-color: white;
    padding: 15px 20px;
    margin: 0 0 1px;
    box-shadow: 1px 1px 10px 0px #CCC;
    font-size: 19px;
}

.form__form {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px 0px #CCC;
    display: grid;
    grid-template-columns: 1fr 135px;
    grid-gap: 20px;
    height: 85px;
}

@media (max-width: 767px) {
    .form__form {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        align-items: start;
        height: 130px;
    }
}

.form__input {
    padding: 8px;
    font-size: 15px;
    border: 2px solid rgb(230, 230, 230);
}

.form__button {
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    font-size: 15px;
}

.form__button:active {
    border: 2px solid black;
    border-radius: 3px;
}