.form__header {
    background-color: #ffffff;
    padding: 15px 20px;
    margin: 0 0 1px;
    box-shadow: 1px 1px 10px 0px #CCC;
    font-size: 19px;
}

.form__form {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px 0px #CCC;
    display: grid;
    grid-template-columns: 1fr 135px;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form__form {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

.form__input {
    padding: 8px;
    font-size: 15px;
    border: 2px solid #e6e6e6;
}

.form__button {
    background-color: #008080;
    color: #ffffff;
    padding: 10px;
    border: 2px solid #008080;
    font-size: 15px;
    transition: background 0.5s, transform 0.5s;
}

.form__button:hover {
    cursor: pointer;
    background-color: #009999;
    border: 2px solid #009999;
    transform: scale(1.1);
}

.form__button:active {
    background-color: #00b3b3;
    border: 2px solid #000000;
    border-radius: 3px;
}