.section {
    margin: 10px 0;
    background: #ffffff;
    box-shadow: 0 0 5px #bababa;
}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
}

.section__body {
    padding: 20px;
}