html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 850px;
    margin: 0 auto;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    word-break: break-word;
}